* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(196, 248, 222);
    font-size: 20px;
}
h1 {
    font-size: 60px;
}

section {
    font-size: 20px;
}

#Paul {
    border: 5pt solid rgb(61, 48, 235);
    font-size: 2em; 
    width: 200px;
    padding: 1px;
    box-sizing: border-box;
}

#John {
    border: 10px dashed rgb(58, 230, 52);
    font-size: 2rem;
}

#Ringo {
    border: 1pc dotted rgb(235, 13, 79);
    background-color: dodgerblue;
}

#George {
    border: 1cm solid rgb(109, 93, 40);
}
h2 > p {
    width: 10%;
}
#fabfour {
    border: 3mm solid #fcf7f7;
    background-color: hotpink;
    box-sizing: 50%;
}
#stage {
    /* viewport-fit: 30%; */
    width: 40vw;
}
#beatles {
    height: 50vh;
}